<<<<<<< HEAD
=======
<h1>Detalhes da Ideia</h1>

>>>>>>> a89f3c9cd52ff132a60ddca0886a5f5ffe7b96e2
<h1><%= @idea.title %></h1>
<p><%= @idea.description %></p>
<p><%= number_to_currency(@idea.initial_investment_value, unit: 'R$ ', separator:',', delimiter: '' ) %></p>
<p><%= @idea.estimated_project_time_to_month %></p>
<p><%= @idea.estimated_time_to_profit_to_month %></p>