
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="navbar-brand">
        <a class="nav-link <%= 'active' if(params[:controller] == 'home' && params[:action] == 'index') %>" href="<%= root_path %>">Home</a>
      </li>

      <li class="navbar-brand">
        <a class="nav-link <%= 'active' if(params[:controller] == 'home' && params[:action] == 'about_us') %>" href="<%= home_about_us_path %>">Sobre</a>
      </li>

      <li class="navbar-brand">
        <% unless user_signed_in? %>
          <a class="nav-link <%= 'active' if(params[:controller] == 'devise/registrations' && params[:action] == 'new') %>" href="<%= new_user_registration_path %>">Cadastre-se</a>
        <% end %>
      </li>


      <li class="navbar-brand">
        <% if user_signed_in? %>
          <a class="nav-link <%= 'active' if(params[:controller] == 'ideas' && params[:action] == 'index') %>" href="<%= ideas_path %>">Minhas ideias</a>
        <% end %>
      </li>

      <li class="navbar-brand">
        <% if user_signed_in? %>
          <a class="nav-link <%= 'active' if(params[:controller] == 'ideas' && params[:action] == 'new') %>" href="<%= new_idea_path %>">Tenho uma Ideia</a>
        <% end %>
      </li>

      <li class="navbar-brand">
        <% if user_signed_in? %>
          <a class="nav-link <%= 'active' if(params[:controller] == 'invites' && params[:action] == 'new') %>" href="<%= new_invite_path %>">Indique um investidor</a>
        <% end %>
      </li>
    </ul>

    <ul class="nav navbar-nav justify-content-end">
      <li class="navbar-brand">
        <% unless user_signed_in? %>
          <a class="nav-link <%= 'active' if(params[:controller] == 'home' && params[:action] == 'index') %>" href="<%= user_session_path %>">Logar</a>
        <% end %>
      </li>

      <li class="navbar-brand justify-content-end">
        <%= link_to('Logout', destroy_user_session_path, method:'delete', class: 'nav-link') if user_signed_in?%>
      </li>
    </ul>
    <ul class="nav navbar-nav justify-content-end">
      <li class="nav-item">
        <% if user_signed_in? %>
          <a class="nav-link <%= 'active' if(params[:controller] == 'investor' && params[:action] == 'index') %>" href="<%= investors_path %>">Encontre um investidor</a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>


<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>