<% unless user_signed_in? %>
  <%= render partial: 'carousel' %>
  <%= render partial: 'quotes' %>
<% end %>


<div class="container-fluid">
  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <% @ideas.each do |idea|%>
        <div id="idea-<%=idea.id%>">
          <div class="col6 ml-2 mr-2 mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= idea.title %></h5>

                <p><%if idea.favorite?(current_user)%>
                <%= image_tag 'favorite_heart', size: "32x32" %>
              <% end %></p>
                <p class="card-text"><%= truncate(idea.description, length: 25)%></p>
                <p class="card-text"><%= idea.category.name %></p>
                <p><%= link_to('Ver detalhes', idea, class: 'btn btn-primary') %> </p>

              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Valor inicial do investimento: </strong> <%= number_to_currency(idea.initial_investment_value) %></li>
                <li class="list-group-item"><strong>Tempo estimado do projeto: </strong><%= t('months', count: idea.estimated_project_time) %></li>
                <li class="list-group-item"><strong>Tempo estimado para retorno: </strong><%= t('months', count: idea.estimated_time_to_profit) %></li>
              </ul>
            </div>
          </div>
        </div>
      <% end%>
    <% end %>
  </div>
</div>

