<!DOCTYPE html>
<html>
  <head>
    <title>StartToBusiness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="stb-main">
      <%= render "shared/header" %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
