<!DOCTYPE html>
<html>
  <head>
    <title>StartToBusiness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <% if notice %>
      <div class="col-sm-6 mt-4 mb-4 badge-warning">
        <p><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="col-sm-6 mt-4 mb-4 badge-danger">
        <p><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
     <%= render "shared/footer" %>
  </body>
</html>
